ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
}

article {
  margin: 30px;
  max-width: 500px;
  min-width: 200px;
  max-height: 300px;
  text-align: center;
  border: 4px #FFF solid;
}

li {
  margin-top: 20px;
}